#body{
    margin: auto;
    width: 1024px;
    background-color: rgb(0, 0, 0);
}
#head{
    height: 200px;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    /* background-repeat: no-repeat; */
    border-bottom-style: solid;
    border-width: 1px;
    border-color: white;
}
#head li{
    /* display inline-block to support padding for y axis */
    display: inline-block;
    font-size: x-large;
    padding: 5px;
}
#head ul{
    float: right;
}
#head a{
    text-decoration: none;
}
div ul img{
    width: 35px;
    display: block;
    filter: brightness(.5);
}
div ul img:hover{
    filter: brightness(1);
}
#nav {
    height: 57px;
}
#nav ul{
    float: left;
    text-align: center;
    padding: 0%;
    margin: 0%;
}
#nav li{
    display: inline-block;
    font-size: x-large;
    padding: 15px;
    color: white;
}
#nav a{
    text-decoration: none;
}
#nav li:hover{
    background-color: rgb(15, 72, 146);
}
#content{
    background-color: gainsboro;
}
#section img{
    height: 300px;
    width: 100%;
}
h1{
    color:rgb(6, 38, 179);
    margin: 0%;
}
#section1{
    float: left;
    width: 70%;
    padding: 10px;
    margin-right: 0px;
}
#section1 ul{
    list-style:disc;
    margin:0%;
}
#section1 li{
    font-size: medium;
    padding: 0%;
}
#floatfix{ 
    clear: left;
}
#section1 img{
    margin: 10px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    padding: 5px;
}
#section2{
    float: left;
    width: 25%;
    height: 200px ;
    padding: 10px;
}
h3{
    color: brown;
    margin: 0%;
}
h4{
    color:rgb(6, 38, 179);
    margin: 0%;
}
#section3{
    float: left;
    width: 98%;
    height: 100px;
    text-align: center;
    padding: 10px;
}
